
@font-face {
    font-family: "racing";
    src: url(fonts/Racing_Sans_One/RacingSansOne-Regular.ttf);
}

body{
    background-color: rgba(128, 128, 128, 0.78);

    
}

h1{
font-family: "racing";
font-size: 200px;
text-align: center;
padding-bottom:50px;
color: rgb(0, 0, 0);
}

    
ul{
text-align: center;
display: inline-block;
list-style-type:none;
}

Ul li{
    list-style: none;
    display: inline-block;
    padding-bottom: 2;
    padding-top: 10%;
}

ul li a{
    font-family: "racing";
     text-align: center;
     padding-right: 10%;
     color: rgb(0, 0, 0);
     font-size: 200px;
     cursor: pointer;
     text-decoration: none;
     
}

ul li a:hover{
color: rgb(206, 99, 0);
transition: .55s;
}

.hoverani{
    display: inline-block;
    position:relative;
    color: #808080c7;
  }
.hoverani:after{
    content: '';
  position: absolute;
  width: 85%;
  transform: scaleX(0);
  height: 6px;
  bottom: 0;
  left: 0;
  background-color:#ce6300;
  transition: transform 0.20s ease-in-out;
}

.hoverani:hover:after{
    transform: scaleX(.7);
}