body{
    background-color: rgba(128, 128, 128, 0.781);
}
@font-face {
    font-family: "racing";
    src: url(fonts/Racing_Sans_One/RacingSansOne-Regular.ttf);
}
 a {
  font-family: "racing";
    color: rgba(37, 35, 33, 0.699);
    text-decoration: none;
    font-size: 50px;
    margin: 10px;
 }

 a:hover{
color:rgb(136, 61, 0);
padding-left: 10px;
transition: .50s;
 }

 h2{
     font-family: "racing";
     font-size: 200px;
     text-align: center;
     color: rgb(206, 99, 0);
 }

 h3{
    font-family: "racing";
    font-size: 100px;
    text-align: left;
    color: rgb(206, 99, 0);
}
td{
    font-size: 60px;
}

#results{
    font-size: 60px;
}

.button{
    font-size:1900px;
    font-weight: 700;
}

.textarea{
    font-size: 50px;
}